[submodule "dependencies/protobuf"]
	path = dependencies/protobuf
	url = https://github.com/google/protobuf.git
[submodule "dependencies/sfml"]
	path = dependencies/sfml
	url = https://github.com/LaurentGomila/sfml.git
[submodule "dependencies/glm"]
	path = dependencies/glm
	url = https://github.com/g-truc/glm.git
